*.pyc
*.sqlite
*.egg-info
dist/

# setuptools
bin/
build/
dist/
setup.py

# buildout
buildout.in.cfg
.installed*.cfg
.cache/
eggs/
develop-eggs/
parts/
build/
dist/
src/infi/hello/__version__.py
.achievements
bootstrap.py

src/pypi_rankings/__version__.py
temp.txt
