<html>
<head>
<title>More Stats</title>
<script src="{{url_for('static', filename='jquery.js') }}"></script>
<link rel="shortcut icon" href="http://pypi-ranking.info/static//img/python_logo.png">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css') }}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='solarized.css') }}" />
</head>
<body class="subpage">
<div class="banner">
    <a href="/">
    <img src="{{url_for('static', filename='logo.png') }}">
    <h1>PYPI RANKINGS</h1>
    </a>
</div>
<table class="package">
<tr><td>
<b>Total packages in PyPI</b>: {{ "{:,}".format(total_len) }}
</td></tr><tr><td>
<b>Number of authors</b>: {{ "{:,}".format(authors_len) }}
</td></tr><tr><td>
<b>Packages Supporting Python 3</b>: {{ "{:,}".format(len_py3) }} ({{ "{:.2f}".format(len_py3 / total_len * 100) }}%)
</td></tr><tr><td>
<b>SCM Distribution</b>
<table>
{% for scm_name, scm_count in scm %}
<tr><td>{{ scm_name }}</td>
<td>{{ "{:,}".format(scm_count) }} ({{ "{:.2f}".format(scm_count / total_len * 100) }}%)</td></tr>
{% endfor %}
</table>
</td></tr><tr><td>
<b>Packages with no releases</b>: {{ "{:,}".format(no_releases) }}
</td></tr><tr><td>
<b>Packages with releases but no distributions (0 downloads)</b>: {{ "{:,}".format(no_downloads) }}
</td></tr><tr><td>
<b>Packages with no source distribution</b>: {{ "{:,}".format(no_sdist) }}
</td></tr><tr><td>
<b>Packages with no dependency data</b>: {{ "{:,}".format((total_len - dependency_data)) }} ({{ "{:.2f}".format((total_len - dependency_data) / total_len * 100) }}%)
</td></tr><tr><td>
<b>Packages with SCM data</b>: {{ "{:,}".format(len_scm) }} ({{ "{:.2f}".format(len_scm / total_len * 100) }}%)
</td></tr></table>
</body>
</html>